main {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
}
.left__container {
  width: 100%;
  margin-right: 3rem;
  margin-bottom: 6rem;
}
.left__container img {
  width: 100%;
  margin-bottom: 2rem;
}
.img--desktop {
  display: none;
}
.left__container--sub {
  display: flex;
  flex-direction: column;
}
.heading__primary {
  font-family: "Inter Extrabold", sans-serif;
  font-size: 4rem;
  padding-right: 10rem;
  line-height: 1;
  margin-bottom: 1.2rem;
  color: hsl(240, 100%, 5%);
}
.description {
  color: hsl(236, 13%, 42%);
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  margin-bottom: 4rem;
}
.primary__cta {
  color: hsl(36, 100%, 99%);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Inter Bold", sans-serif;
  letter-spacing: 5px;
  text-align: center;
  width: 40%;
  background-color: hsl(5, 85%, 63%);
  align-items: flex-start;
  padding: 1.5rem 2rem;
  margin-top: 3rem;
}

/* right container */
.right__container {
  color: hsl(233, 8%, 79%);
  background-color: hsl(240, 100%, 5%);
  padding: 2rem;
}
.right__container h2 {
  color: hsl(35, 77%, 62%);
  font-size: 3rem;
  font-family: "Inter Bold", sans-serif;
  margin-bottom: 2rem;
}
.right__container--sub h3 {
  color: hsl(36, 100%, 99%);
  font-size: 1.8rem;
  font-family: "Inter Extrabold", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.right__container--sub p {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  word-spacing: 2px;
}
.right__container--sub:not(:last-child) {
  border-bottom: 1px solid hsl(233, 8%, 79%);
  padding-bottom: 3rem;
}
.right__container--sub {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}
/* container bottom */
.container__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5rem;
}
.container__bottom--sub {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.container__bottom--sub .flex-image {
  width: 10rem;
}
.bottom__sub {
  margin-left: 2rem;
}
.bottom__sub h3 {
  color: hsl(233, 8%, 79%);
  font-size: 3rem;
  font-weight: 700;
  font-family: "Inter Extrabold", sans-serif;
  margin-bottom: 1rem;
}
.bottom__sub h4 {
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Inter Extrabold", sans-serif;
  margin-bottom: 1rem;
}
.bottom__sub p {
  color: hsl(0, 0%, 52%);
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
}
@media (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .img--mobile {
    display: none;
  }
  .img--desktop {
    display: block;
  }
  .left__container--sub {
    display: flex;
    flex-direction: row;
  }
  .heading__primary {
    font-size: 5.5rem;
    flex-grow: 1;
    padding-right: 2rem;
  }
  .description {
    margin-bottom: 4rem;
    width: 40rem;
  }
  .description p {
    font-size: 2rem;
  }
  .right__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 2rem 0 2rem;
    height: 51rem;
  }
  .right__container h2 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }
  .right__container--sub:nth-child(1),
  .right__container--sub:nth-child(2) {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .right__container--sub:last-child {
    margin-bottom: 0;
  }
  .right__container--sub h3 {
    font-size: 1.8rem;
  }
  .right__container--sub p {
    font-size: 1.4rem;
  }
  .container__bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }
}
